


/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $color-white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    @include mq($tablet) {
      padding: 10px 30px;

      & + & {
        margin-right: 10px;
      }
    }
  }
  
  
  @each $btn, $color in $button-color {
    #{$btn} {
      background-color: $color;
    }
  }